:root {
    --primary-color: #f2DC5D; /* Naples Yellow */
    --secondary-color: #F2A359; /* Sandy Brown */
    --accent1-color: #DB9065; /* Persian Orange */
    --accent2-color: #3f3f37; /* Black Olive */
    --heading-font: "Orbitron", sans-serif;
    --body-font: "Changa", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
}
header img {
    max-width: 100px;
    height: auto;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    border: 3px solid #000;
    background-color: #fff;
}
.navigation a {
    text-decoration: none;
    color: inherit;
    padding: 4px;
    
}
nav a {
    margin: 0px 20px;
    
}
header, main, footer {
    width: 840px;
    margin: 10px auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.adventure {
    background-color: #3f3f37;
    border: 2px solid #DB9065;
}
section h2{
    text-align: center;
}
section img {
    max-width: 150px;
    height: auto;
    margin: 2px;
}
nav a img {
    max-width: 20px;
    height: auto;
}
footer {
    display: grid;
    grid-template-columns: 420px 420px;

}
footer p {
    order: 0;
}
.socialmedia a {
    display: flex;
    justify-content: right;
    order: 1;
    text-decoration: none;

}

.history {
    display: grid;
    background-color: rgba(0 0 0 / 0.7);
    color: #f2DC5D;
    grid-template-columns: 1fr 200px 1fr;
    border-color: #3f3f37;
    border: 2px;
}
.n1 {
    order:0
}
.history h2 {
    order: 1;

}
.n2 {
    order: 2;
}


.hero {
    position: relative;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: #fff;
}

article {
    position: absolute;
    font-style: italic;
    top: 170px;
    background-color: var(--accent1-color);
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
    border: groove;
    margin: 2px;
    box-shadow: 0 2px 4px 0 var(--accent2-color);
}
